@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

body {
  height: 100%;
  width: 100%;
  background: #ea81ae;
  overflow: hidden;
  text-align: center;
  justify-content: center;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Pétalos */
.petals > div {
  position: absolute;
  background: #d52d58;
  width: 45px;
  height: 80px;
  top: 55px;
  transition: all 0.5s ease-out;
}

.text {
  font-family: cursive;
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  color: rgb(245, 20, 84);
  text-shadow: 0 0 20px rgb(241, 94, 106);
}

/* Media Queries para Responsividad */
@media screen and (max-width: 768px) {
  body {
    overflow: auto;
    background-size: cover;
  }
  .container {
    width: 90%;
    transform: translate(-50%, 20%);
  }
  .petals > div {
    width: 35px;
    height: 60px;
  }
  .text {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 80%;
    transform: translate(-50%, 10%);
  }
  .petals > div {
    width: 25px;
    height: 45px;
  }
  .text {
    font-size: 18px;
    padding: 10px;
  }
}
